/* Slideshow */
.slideshow-container {
    position: relative;
    margin: 5% auto;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

/* Fast Access Menu */
.FastAccess-container {
    display: flex;
    width: 100%;
    height: 5%;
    background-color: #EEEEEE;
    border-radius: 8px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.espaco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    font-family: Arial, sans-serif;
}

.icon-item svg {
    color: #000;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.icon-item:hover svg {
    transform: scale(1.2);
    color: #ff6600;
}

.icon-item p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

/* Product card */

.row {
    display: flex;
    margin: 5% 5.2% 0 5.2%;
}

.card {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 20px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: white;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .btnInfo {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #ffce00;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBox .btnInfo {
    top: 0;
    opacity: 1;
}

.product {
    height: 300px;
    width: auto;
}
